body,
html { 
  background: url(kb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
text-align: center;
}
.buffer{
    height: 8rem;
}

button{
	padding: 1rem 2rem;
	border-radius: 300px;
	background-color: orange;
    text-align: center;
}
body,
button{
	text-align: center;
}
button:hover{
	background-color: burlywood;
}
